.audio-track {
    width: 100%;
    position: relative;

    background-color: black;

    /* GRID */
    background-image: 
        linear-gradient(to right, rgba(128, 128, 128, 0.568) 1px, transparent 1px);

    background-size: 100px 100%; /* 100px = 1 секунда */

    border-bottom: 1px solid gray;
}

.audio-track:hover {
    background-color: rgb(42, 42, 42);
}