.timeline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.timeline-scroll {
  flex: 1;
  overflow: auto;
}

.timeline-content {
  position: relative;
}

.time-ruler {
  position: sticky;
  top: 0;
  z-index: 200;

  height: 20px;
  background: #2f2f2f;

  /* 1. дрібні тіки (половина висоти) */
  /* 2. великі тіки (70% висоти) */
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.4) 1px, transparent 1px),
    linear-gradient(to right, rgba(128, 128, 128, 0.4) 1px, transparent 1px);
}

.time-mark {
  position: absolute;
  top: -5px;
  font-size: 10px;
  color: #aaa;
  transform: translateX(-50%);
  pointer-events: none;
}

.playhead {
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  width: 20px;
  transform: translateX(-50%);
  cursor: pointer;
}

.playhead-visible {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  transform: translateX(-50%);
  background-color: rgba(255, 0, 0, 0.561);
  pointer-events: none;
  transition: background-color 200ms ease-in-out;
}

.playhead:hover .playhead-visible {
  background-color: red;
}




.zero-tick {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(0, 255, 0, 0.3);
}