.clip {
    background-color: #4ade80;
    border-radius: 2px;
    border: 2px solid transparent;
    z-index: 100;

    transition: all 200ms ease-in-out;
    transition-property: background-color, border-color;
}

.clip:hover {
    background-color: #3ebc6c;
    border-color: #2a8f4f;
}

.clip.dragging {
    position: absolute;
    pointer-events: none;
}

.clip.ghost {
    opacity: 0.5;
    z-index: 1000;
}

.clip.selected {
    border-color: rgba(255, 0, 0, 0.576);
}