.navigation-panel-top {
    width: 100%;
    padding: 0 0.5rem;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-shrink: 0;
    overflow: hidden;

    border-bottom: 1px solid black;
}